

.application {

}

.application__item {
  list-style: none;
  margin-left: 35px;
}

.application__item a {
  text-decoration: none;
}

.application__item--apple {
  width: 47px;
  height: 56px;
  background-image: url("../img/apple-logo.svg");
  background-repeat: no-repeat;
}

.application__item--android {
  width: 43px;
  height: 47px;
  background-image: url("../img/android-logo.svg");
  background-repeat: no-repeat;
}

.application__item--microsoft {
  width: 44px;
  height: 41px;
  background-image: url("../img/microsoft-logo.svg");
  background-repeat: no-repeat;
}
