

.button {
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  border-radius: 50px;
  padding-top: 16px;
  padding-bottom: 18px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.button__button-post {
  width: 274px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #d22856;
  border: 3px solid #d22856;
}

.button__button-cancel {
  width: 274px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #dddfe0;
  border: 3px solid #dddfe0;
}

.button__button-post--tablet {
  width: 254px;
}

.button__button-post--desktop {
  width: 177px;
}

.button__button-cancel--tablet {
  width: 254px;
}

.button__button-cancel--desktop {
  width: 177px;
}
