

.button {
  display: block;
  width: 292px;
  font-family: inherit;
  font-size: 21px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50px;
  padding-top: 16px;
  padding-bottom: 18px;
  margin: 0;
  text-decoration: none;
}

.button__button-post {

}

.button__button-cancel {

}

