

.choice {

}

.choice__add-img {
  display: block;
  width: 280px;
  height: 374px;
  background-image: url("../img/photo-road-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .choice__add-img {
    width: 300px;
    height: 400px;
    background-image: url("../img/photo-road-tablet@1x.jpg");
    margin-top: 57px;
    margin-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .choice__add-img {
    display: block;
    width: 300px;
    height: 400px;
    background-image: url("../img/photo-road-desktop@1x.jpg");
    background-repeat: no-repeat;
    margin-top: 57px;
    margin-left: 80px;
    cursor: pointer;
  }
}

.choice__list {
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 41px;
  padding-bottom: 75px;
  border-bottom: 1px solid #dddfe0;
  overflow: hidden;
  justify-content: center;
  flex-grow: 0;
}

@media (min-width: @tablet-width) {
  .choice__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 55px;
    left: 365px;
    width: 274px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .choice__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 55px;
    left: 470px;
    width: 410px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.choice__item {
  text-align: left;
}

@media (min-width: @tablet-width) {
  .choice__item {
    position: relative;
    width: 274px;
    border-bottom: 1px solid #dddfe0;
    padding-bottom: 23px;
    margin-bottom: 26px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .choice__item {
    position: relative;
    width: 410px;
    border-bottom: 1px solid #dddfe0;
    padding-bottom: 17px;
    margin-bottom: 15px;
    text-align: left;
  }
}

.choice__button {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .choice__button {
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 0;
    margin-right: 28px;
    padding: 0;
    vertical-align: middle;
  }
}

@media (min-width: @desktop-width) {
  .choice__button {
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
  }
}

.choice__button--crop {
  background-image: url("../img/icon-editor-crop-red.svg");
  background-repeat: no-repeat;
  width: 44px;
  height: 43px;
}

@media (min-width: @tablet-width) {
  .choice__button--crop {
    background-image: url("../img/icon-editor-crop-red.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 23px;
    margin-left: 2px;
  }
}

@media (min-width: @desktop-width) {
  .choice__button--crop {
    background-image: url("../img/icon-editor-crop-red.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
  }
}

.choice__button--fill {
  background-image: url("../img/icon-editor-fill-red.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 43px;
}

@media (min-width: @tablet-width) {
  .choice__button--fill {
    background-image: url("../img/icon-editor-fill-red.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 23px;
    margin-left: 2px;
  }
}

@media (min-width: @desktop-width) {
  .choice__button--fill {
    background-image: url("../img/icon-editor-fill-red.svg");
    background-repeat: no-repeat;
    width: 48px;
    height: 43px;
  }
}

.choice__button--contrast {
  background-image: url("../img/icon-editor-contrast-red.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

@media (min-width: @tablet-width) {
  .choice__button--contrast {
    background-image: url("../img/icon-editor-contrast-red.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
}

@media (min-width: @desktop-width) {
  .choice__button--contrast {
    background-image: url("../img/icon-editor-contrast-red.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
  }
}

.choice__option {
  width: 274px;
  margin: 0 auto;
  margin-top: 38px;
  padding-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .choice__option {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    bottom: 53px;
    left: 358px;
    margin-top: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .choice__option {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 410px;
    top: 403px;
    left: 470px;
  }
}

@media (min-width: @desktop-width) {
.choice__option button {
  padding: 0;
  }
}
