

.comment {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: left;
}

.comment__crop-photo {
  width: 280px;
  height: 180px;
}

.comment__name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.comment__name span {
  font-weight: 300;
  text-transform: uppercase;
}

.comment__time {
  display: inline-block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.comment__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: left;
  margin: 0;
}

.comment__text--mobile {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
}

.comment__like {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
