

.comment-day {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: left;
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .comment-day {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    text-align: left;
    background-color: #f2f2f2;
  }
}

@media (min-width: @desktop-width) {
  .comment-day {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    text-align: left;
    background-color: #f2f2f2;
  }
}

.comment-day__name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .comment-day__name {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .comment-day__name {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
  }
}

.comment-day__data {
  display: inline-block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .comment-day__data {
    display: inline-block;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .comment-day__data {
    display: inline-block;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.comment-day__like-day {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .comment-day__like-day {
    display: flex;
    position: absolute;
    top: 12px;
    right: 30px;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .comment-day__like-day {
    display: flex;
    position: absolute;
    right: 30px;
    align-items: center;
  }
}

.comment-day__comment-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: left;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .comment-day__comment-text {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    text-align: left;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .comment-day__comment-text {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    text-align: left;
    margin: 0;
  }
}
