.contact-user {
  border: none;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .contact-user {
    box-sizing: border-box;
    width: 100%;
    min-height: 162px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .contact-user {
    box-sizing: border-box;
    width: 100%;
    min-height: 162px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 0;
  }
}

.contact-user legend {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .contact-user legend {
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: @desktop-width) {
  .contact-user legend {

  }
}

.contact-user__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 45px;
  padding-bottom: 41px;
}

@media (min-width: @tablet-width) {
  .contact-user__wrapper {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 45px;
    padding-bottom: 33px;
  }
}

@media (min-width: @desktop-width) {
  .contact-user__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 38px;
    padding-bottom: 23px;
  }
}

@media (min-width: @tablet-width) {
  .contact-user__wrapper span {
    position: absolute;
    display: flex;
    width: 60px;
    height: 58px;
    top: 0;
    left: 436px;
    background-color: #e5e5e5;
    border-top: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .contact-user__wrapper span {
   position: absolute;
    display: flex;
    width: 60px;
    height: 58px;
    top: 0;
    left: 312px;
    background-color: #e5e5e5;
    border-top: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: -1;
  }
}

.contact-user__wrapper label {
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: #d22856;
  margin-left: 20px;
  margin-bottom: 15px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .contact-user__wrapper label {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .contact-user__wrapper label {
    display: block;
    margin-top: 19px;
    margin-left: 20px;
    text-align: left;
  }
}

.contact-user__form {
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.contact-user__form--tel-form {

}

.contact-user__form--mail-form {
  margin-top: 27px;
}

@media (min-width: @tablet-width) {
  .contact-user__form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 497px;
  }
}

@media (min-width: @tablet-width) {
  .contact-user__form--tel-form,
  .contact-user__form--mail-form {
    flex-direction: column-reverse;
    border: 0;
  }
}

@media (min-width: @desktop-width) {
  .contact-user__form {
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .contact-user__form--tel-form,
  .contact-user__form--mail-form {
    flex-direction: column-reverse;
  }
}

.contact-user__icon {
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .contact-user__icon {
    box-sizing: border-box;
    width: 497px;
    border: 2px #e5e5e5 solid;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    white-space: normal;
  }
}

.contact-user__icon {
  width: 236px;
  border: 2px #e5e5e5 solid;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  background-color: transparent;
  white-space: normal;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
.contact-user__icon {
    width: 497px;
  }
}

@media (min-width: @desktop-width) {
.contact-user__icon {
    width: 375px;
  }
}

@media (min-width: @tablet-width) {
  .contact-user__icon--tel {
    background-image: url("../img/icon-phone-red.svg");
    background-repeat: no-repeat;
    background-position: 456px 50%;
    background-size: 20px 19px;
  }
}

@media (min-width: @desktop-width) {
  .contact-user__icon--tel {
    background-position: 332px 50%;
  }
}

@media (min-width: @tablet-width) {
  .contact-user__icon--mail {
    background-image: url("../img/icon-mail-red.svg");
    background-repeat: no-repeat;
    background-position: 456px 50%;
    background-size: 18px 13px;
  }
}

@media (min-width: @desktop-width) {
  .contact-user__icon--mail {
    background-position: 332px 50%;
  }
}
