

.download-app {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 120px;


  min-height: 644px;
  color: #ffffff;
  background-image: url("../img/iphone-6-hand2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

}

.download-app__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
  text-align: center;
  margin: 0;
  margin-bottom: 65px;
  width: 300px;
}

.download-app__title--tablet {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  width: 300px;
}

.download-app__title--mobile {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  width: 280px;
}

.download-app__button {
  display: block;
  width: 292px;
  font-size: 21px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  border: 3px solid #ffffff;
  margin: 0;
  margin-bottom: 65px;
}

.download-app__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 300px;
  margin-left: 8px;
}

.download-app__access {
  width: 300px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
  margin-top: 60px;
}

.download-app__access--tablet {
  margin-top: 39px;
}

.download-app__access--mobile {
  margin-top: 39px;
}

.download-app__iphone-img {
  position: absolute;
  width: 228px;
  height: 405px;
  z-index: 4;
  top: 184px;
  left: 579px;
  border: 2px solid #000000;
}

.download-app__iphone-img--tablet {
  width: 192px;
  height: 343px;
  top: 54px;
  left: 370px;
}

.download-app__iphone-img--mobile {
  width: 110px;
  height: 196px;
  top: 54px;
  left: 370px;
}

