

.emotions {
  width: 280px;
  min-height: 162px;
  transform: translateX(20px);
  border: none;
}

@media (min-width: @tablet-width) {
  .emotions {
    width: 620px;
    min-height: 162px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    transform: translateX(0);
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .emotions {
    box-sizing: border-box;
    width: 940px;
    min-height: 162px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin: 0;
    padding: 0;
  }
}



