

.field-profiles {
  border: none;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .field-profiles {
    border: none;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .field-profiles {
    width: 435px;
    border: none;
    margin: 0;
    padding: 0;
  }
}

.field-profiles__item {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .field-profiles__item {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 52px;
  }
}

@media (min-width: @desktop-width) {
  .field-profiles__item {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 52px;
  }
}

.field-profiles__item label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-left: 23px;
  color: #d22856;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .field-profiles__item label {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    color: #d22856;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .field-profiles__item label {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    color: #d22856;
    text-align: center;
  }
}

.field-profiles__field-name {
  box-sizing: border-box;
  width: 100%;
  border: 2px #e5e5e5 solid;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  white-space: normal;
  margin-top: 10px;
}

@media (min-width: @tablet-width) {
  .field-profiles__field-name {
    margin-top: 0;
    margin-left: 23px;
  }
}

@media (min-width: @desktop-width) {
  .field-profiles__field-name {
    margin-left: 23px;
  }
}
