.field-trip {
  padding: 0;
  margin: 0;
  border: none;
}

@media (min-width: @tablet-width) {
  .field-trip {
    width: 620px;
    min-height: 305px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }
}

@media (min-width: @desktop-width) {
  .field-trip {
    box-sizing: border-box;
    width: 435px;
  }
}

.field-trip__list {
  width: 280px;
  padding: 0;
  text-align: left;
  transform: translateX(90px);
  margin: 0;
  margin-top: 38px;
}

@media (min-width: @tablet-width) {
  .field-trip__list {
    transform: translateX(120px);
  }
}

@media (min-width: @desktop-width) {
  .field-trip__list {
    margin-top: 50px;
  }
}

.field-trip__item {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  list-style: none;
  margin-bottom: 62px;
}

@media (min-width: @desktop-width) {
  .field-trip__item {
    margin-bottom: 35px;
  }
}

.field-trip__item label {
  position: relative;
}
<<<<<<< HEAD

@media (min-width: @tablet-width) {
  .field-trip__item label {
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .field-trip__item label {
    position: relative;
  }
}
=======
>>>>>>> cf84181eb617c38c790b6e84adf024d863add7b1
