

.filter {
  position: relative;
  width: 940px;
  min-height: 514px;
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-bottom: 98px;
}

.filter__title {

}

.filter__wrapper {

}

.filter__photos {

}

