

.form-users {

}

.form-users__title {
  width: 820px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 80px;
}

.form-users__title--tablet {
  width: 500px;
  margin-bottom: 74px;
}

.form-users__title--mobile {
  width: 280px;
  margin-top: 55px;
  margin-bottom: 54px;
}

.form-users__wrapper {
  width: 940px;
  margin: 0 auto;
}

.form-users__wrapper--tablet {
  width: 620px;
  margin: 0 auto;
}

.form-users__wrapper--mobile {
  width: 320px;
  margin: 0 auto;
}

.form-users__profiles {
  display: flex;
  align-items: flex-end;
}

.form-users__field {
  position: relative;
  width: 435px;
}

.form-users__field--tablet {
  position: relative;
  width: 620px;
}

.form-users__field--mobile {
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.form-users__title textarea {
  box-sizing: border-box;
  width: 819px;
  min-height: 124px;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 60px;
  margin-right: 60px;
  border: 2px #e5e5e5 solid;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  white-space: normal;
}

.form-users__title textarea--tablet {
  width: 496px;
  min-height: 189px;
}

.form-users__title textarea--mobile {
  width: 280px;
  min-height: 200px;
  margin-top: 20px;
  padding-top: 20px;
}

.form-users__form-send {
  display: flex;
  justify-content: space-between;
}

.form-users__form-send--tablet {
  display: flex;
  justify-content: space-between;
}

.form-users__form-send--mobile {
  width: 280px;
  margin: 0 auto;
}

.form-users__trip {

}

.form-users__progress {

}

.form-users__emotions {

}
