

.form-users__title {
  width: 280px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 54px;
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .form-users__title {
    width: 500px;
    margin-bottom: 74px;
  }
}

@media (min-width: @desktop-width) {
  .form-users__title {
    width: 820px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
  }
}

.form-users__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 65px;
}

@media (min-width: @tablet-width) {
  .form-users__wrapper {
    width: 620px;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}

@media (min-width: @desktop-width) {
  .form-users__wrapper {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}

.form-users__wrapper input::placeholder,
.form-users__wrapper textarea::placeholder {
  color: #283645;
}

.form-users__profiles {
  display: flex;
  align-items: flex-end;
}

@media (min-width: @tablet-width) {
  .form-users__profiles {
    display: flex;
    align-items: flex-end;
  }
}

@media (min-width: @desktop-width) {
  .form-users__profiles {
    display: flex;
    align-items: flex-end;
  }
}

.form-users__field {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 0;


}

@media (min-width: @tablet-width) {
  .form-users__field {
    width: 620px;
    min-height: 305px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    margin-bottom: 52px;
    box-sizing: border-box;

    position: relative;
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .form-users__field {
    position: relative;
    width: 435px;
  }
}

.form-users__emotions textarea {
  width: 280px;
  min-height: 200px;
  margin-top: 20px;
  border: 2px #e5e5e5 solid;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  white-space: normal;
}

@media (min-width: @tablet-width) {
  .form-users__emotions textarea {
    width: 496px;
    min-height: 189px;
  }
}

@media (min-width: @desktop-width) {
  .form-users__emotions textarea {
    width: 819px;
    min-height: 124px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 60px;
    margin-right: 60px;
    border: 2px #e5e5e5 solid;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.form-users__form-send {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .form-users__form-send {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .form-users__form-send {
    display: flex;
    justify-content: space-between;
  }
}

.form-users__trip {
  margin: 0;
  padding: 0;
  margin-bottom: 41px;
  border: none;
}

@media (min-width: @tablet-width) {
  .form-users__trip {
    width: 100%;
    min-height: 162px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }
}

@media (min-width: @desktop-width) {
  .form-users__trip {
    width: 100%;
    min-height: 162px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }
}

.form-users__progress {
  width: 100%;
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .form-users__progress {
    width: 100%;
    min-height: 162px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }
}

@media (min-width: @desktop-width) {
  .form-users__progress {
    width: 100%;
    min-height: 162px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }
}

.form-users__emotions {
  width: 280px;
  min-height: 162px;
  transform: translateX(20px);
}

.form-users__wrapper input + label {
  cursor: pointer;
}

.form-users__wrapper input[type="radio"] + label::before,
.form-users__wrapper input[type="checkbox"] + label::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 36px;
  height: 36px;
  vertical-align: middle;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  top: -5px;
  left: -56px;
}

.form-users__wrapper input[type="radio"] + label::before {
  border-radius: 50%;
}

.form-users__wrapper input[type="radio"] + label::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  vertical-align: middle;
  background-color: #d22856;
  border-radius: 50%;
  top: 8px;
  left: -43px;
  opacity: 0;
}

.form-users__wrapper input[type="radio"]:checked + label::after {
  display: inline-block;
  opacity: 1;
}
