.header-back {
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 320px;
  margin: 0 auto;
}

@media (@retina)
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
   .header-back {
    background-image: url("img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .header-back {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 0;
    background-size: cover;
  }

    @media (@retina)
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      .header-back {
      background-image: url("img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .header-back {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
  }

    @media (@retina)
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      .header-back {
      background-image: url("img/bg-back-desktop@2x.jpg");
    }
  }
}

