

.like {
  margin-top: 20px;
  text-align: left;
}

.like__number-likes {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  margin-right: 17px;
}

.like__number-likes--mobile {
  margin-left: 19px;
}

.like__heart-img {
  display: inline-block;
  width: 14px;
  height: 12px;
  background-image: url(../img/icon-heart-red.svg);
  background-repeat: no-repeat;
}
