

.like-day {

}

.like-day__number-likes {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  margin-right: 17px;
}

.like-day__number-likes--mobile {
  margin-left: 19px;
}

.like-day__heart-img {
  display: inline-block;
  width: 14px;
  height: 12px;
  background-image: url(../img/icon-heart.svg);
  background-repeat: no-repeat;
}
