.main-nav {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: @desktop-width) {
  .main-nav {

  }
}


.main-nav__logo-link {
  display: block;
  background-color: transparent;
  margin-left: calc(50% - 140px);
  padding-bottom: 26px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .main-nav__logo-link {
    margin-left: calc(50% - 310px);
    padding-bottom: 43px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__logo-link {
    margin-left: calc(50% - 480px);
  }
}

.main-nav__logo-img {
  width: 75px;
  height: 23px;
}

@media (min-width: @tablet-width) {
  .main-nav__logo-img {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__logo-img {
    width: 147px;
    height: 40px;
    margin: 0;
    margin-right: 173px;
  }
}

.main-nav__switch {
  display: block;
  position: absolute;
  top: 27px;
  right: calc(50% - 140px);
  margin: 0;
  font-size: 0;
  border: none;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .main-nav__switch {
    top: 43px;
    right: calc(50% - 310px);
  }
}

@media (min-width: @desktop-width) {
  .main-nav__switch {
    display: none;
  }
}

.main-nav__switch--closed {
  width: 50px;
  height: 24px;
  background-image: url("../img/icon-menu-burger.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

.main-nav__switch--opened {
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-menu-cross.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

.main-nav__switch--closed:active ~ .site-list {
  display: block;
}

.main-nav__switch--opened:active ~ .main-nav__switch--closed {
  display: none;
}

.main-nav__list {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 620px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: calc(50% - 480px);
    border: none;
    background-color: transparent;
  }
}

.main-nav__switch--closed:active ~ .site-list {
  display: block;
}

.main-nav__switch--opened:active ~ .site-list {
  display: none;
}

.main-nav__switch--closed:active ~ .main-nav {
  background-color: green;
}

.main-nav__switch--opened:active {
  right: calc(50% - 140px);
  background-image: url("../img/icon-menu-burger.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 50px;
  height: 24px;
}

@media (min-width: @tablet-width) {
  .main-nav__switch--opened:active {
    right: calc(50% - 310px);
  }
}

@media (min-width: @desktop-width) {
  .main-nav__switch {
    display: none;
  }
}

.main-nav__switch--opened:active {
  display: block;
}

@media (max-width: @mobile-width-only) {
  .main-nav__list {

  }
}
