

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 43px;
  align-items: center;
}

.main-nav__switch {
  position: absolute;
  top: 43px;
  right: calc(50% - 310px);
  cursor: pointer;
  margin: 0;
}

.main-nav__switch--hide {
  background-image: url("../img/icon-menu-burger.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 50px;
  height: 24px;
  border: none;
}

.main-nav__switch--close {
  background-image: url("../img/icon-menu-cross.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border: none;
}

.main-nav__wrapper {

}

.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: inherit;
  line-height: 18px;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__list a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}


