.main-nav {
  position: relative;
  width: 320px;
  background-color: transparent;
  margin: 0 auto;
  z-index: 2;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.main-nav__toggle {
  display: none;
  position: absolute;
  top: 23px;
  right: calc(50% - 140px);
  margin: 0;
  font-size: 0;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    fill: #d22856;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
    top: 43px;
    right: calc(50% - 310px);
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle--index {
  display: block;
  position: absolute;
  top: -725px;
  right: calc(50% - 140px);
  margin: 0;
  font-size: 0;
  border: none;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle--index {
    top: -680px;
    right: calc(50% - 310px);
  }
}

.main-nav__toggle--closed {
  width: 50px;
  height: 24px;
  background-image: url("../img/icon-menu-burger.svg");
  background-color: transparent;
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../img/icon-menu-burger-red.svg");
  }

  &:active {
    background-image: url("../img/icon-menu-burger-red.svg");
    opacity: 0.5;
  }
}

.main-nav__toggle--opened {
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-menu-cross.svg");
  background-color: transparent;
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../img/icon-menu-cross-red.svg");
  }

  &:active {
    background-image: url("../img/icon-menu-cross-red.svg");
    opacity: 0.5;
  }
}

.main-nav__toggle--closed:active ~ .site-list {
  display: block;
}

.main-nav__toggle--opened:active ~ .site-list {
  display: none;
}

.main-nav__list {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 620px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }
}

.main-nav__toggle--opened:active {
  right: calc(50% - 140px);
  background-image: url("../img/icon-menu-burger.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 50px;
  height: 24px;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle--opened:active {
    right: calc(50% - 310px);
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle--opened:active {
  display: block;
}

.main-nav--closed .site-list__item--active a {
  padding-right: 70px;
  padding-left: 70px;
  text-align: center;
}

.main-nav__logo-link {
  display: inline-block;
  background-color: transparent;
  padding-top: 23px;
  padding-left: 20px;
  padding-bottom: 26px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .main-nav__logo-link {
    padding-top: 27px;
    padding-bottom: 43px;
    padding-left: calc(50% - 310px);
  }
}

@media (min-width: @desktop-width) {
  .main-nav__logo-link {
    padding-left: 0;
    padding-bottom: 0;
    margin-left: calc(50% - 480px);
  }
}

.main-nav__logo-img {
  width: 75px;
  height: 23px;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:focus {
    fill: #d22856;
  }

  &:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__logo-img {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__logo-img svg {
    margin: 0;
    margin-right: 173px;
  }
}

.main-nav__logo-img--mobile {
  display: block;
  fill: #ffffff;
}

.main-nav__logo-img--tablet {
  display: none;
}

.main-nav__logo-img--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav__logo-img--mobile {
    display: none;
  }

  .main-nav__logo-img--tablet {
    display: block;
  }

  .main-nav__logo-img--desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__logo-img--mobile {
    display: none;
  }

  .main-nav__logo-img--tablet {
    display: none;
  }

  .main-nav__logo-img--desktop {
    display: block;
  }
}
