.map {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #eceae4;
  background-image: url("../img/pink-index-mobile-map@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .map {
    background-image: url("../img/pink-index-mobile-map@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .map {
    height: 373px;
    background-image: url("../img/pink-index-tablet-map@1x.jpg");
  }

  @media (min-width: @tablet-width) and (min-resolution: 144dpi),
  (min-width: @tablet-width) and (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../img/pink-index-tablet-map@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .map {
    height: 500px;
    background-image: url("../img/pink-index-desktop-map@1x.jpg");
  }

  @media (min-width: @tablet-width) and (min-resolution: 144dpi),
  (min-width: @tablet-width) and (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../img/pink-index-desktop-map@2x.jpg");
    }
  }
}

.map__map-img {
  display: block;
  position: relative;
  width: 320px;
  height: 200px;
  background-color: transparent;
  border: none;
  outline: none;
}

@media (min-width: @desktop-width) {
  .map__map-img {
    height: 500px;
    margin-top: 26px;
  }
}
