

.map {

}

@media (min-width: @tablet-width) {
  .map {
    position: relative;
    height: 373px;
    margin-bottom: 68px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    position: relative;
    height: 500px;
    margin-bottom: 75px;
  }
}

.map__map-img {
  position: absolute;
  top: 40px;
  left: calc(50% - 160px);
  background-color: transparent;
  border: none;
  outline: none;
}

@media (min-width: @tablet-width) {
  .map__map-img {
    position: absolute;
    top: 30px;
    left: calc(50% - 330px);
    background-color: transparent;
    outline: none;
  }
}

@media (min-width: @desktop-width) {
  .map__map-img {
    position: absolute;
    top: 23px;
    left: calc(50% - 480px);
    background-color: transparent;
    outline: none;
  }
}
