.modal {
  width: 320px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
}

@media (min-width: @tablet-width) {
  .modal {
    width: 460px;
  }
}

@media (min-width: @desktop-width) {
  .modal {
    width: 780px;
  }
}

.modal--no-error {
  display: block;
}

.modal__error {
  display: block;
  padding-bottom: 50px;
}

.modal--js {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.modal__error--js {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.modal__result {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
  padding-bottom: 35px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .modal__result {
    font-size: 30px;
    line-height: 40px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: @tablet-width) {
  .modal__result--error {
    padding-left: 115px;
    padding-right: 115px;
  }
}

@media (min-width: @desktop-width) {
  .modal__result {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.modal__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 39px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .modal__description {
    font-size: 18px;
    line-height: 24px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: @desktop-width) {
  .modal__description {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.modal__back--gray {
  padding-top: 48px;
  padding-bottom: 52px;
  background-color: #f2f2f2;
}

.modal__button {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .modal__button {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .modal__button--close {
    width: 460px;
  }
}

.modal--js {
  display: none;
  animation-name: bounce;
  animation-duration: 0.5s;
}

.modal__error {
  display: none;
  animation-name: shake;
  animation-duration: 0.5s;
}

@keyframes bounce {
  0% {transform: translateY(-1000%) translateX(-50%);}
  70% {transform: translateY(-50%) translateX(-50%);}
  90% {transform: translateY(-45%) translateX(-50%);}
  100% {transform: translateY(-50%) translateX(-50%);}
}

@keyframes shake {
  0% {transform: translateY(-1000%) translateX(-50%);}
  70% {transform: translateY(-50%) translateX(-50%);}
  90% {transform: translateY(-45%) translateX(-50%);}
  100% {transform: translateY(-50%) translateX(-50%);}
}
