.notice {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #283645;
  margin: 0;
  margin-top: 45px;
}

@media (min-width: @tablet-width) {
  .notice {
    margin-top: 27px;
  }
}

@media (min-width: @desktop-width) {
  .notice {
    text-align: right;
    margin-bottom: 23px;
  }
}

.notice span {
  display: inline-block;
  color: #d22856;
}
