

.page-header {
  position: relative;
  background-image: url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 1200px;
  margin: 0 auto;
  background-color: #161e26;
  text-align: center;
}

.page-header__wrapper {
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo-link {
  color: #283645;
  text-align: center;
}

.page-header__logo-img {

}
