.page-footer__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-top: 48px;
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .page-footer__title {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 70px;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    justify-content: space-between;
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.page-footer__contacts {
  width: 280px;
}

.page-footer__map {
  width: 100%;
  margin: 0 auto;
  margin-top: 39px;
}

@media (min-width: @tablet-width) {
  .page-footer__map {
    position: relative;
    margin-top: 34px;
    margin-bottom: 68px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__map {
    height: 500px;
    margin-top: 43px;
    margin-bottom: 75px;
  }
}

.page-footer__map::before {
  position: absolute;
  content: "";
  top: -1px;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 32px;
  background-image: url("../img/bg-triangle-white-footer-2.svg");
  background-repeat: no-repeat;
  background-size: 100% 32px;
}

@media (min-width: @tablet-width) {
  .page-footer__map::before {
    z-index: 7;
    height: 67px;
    background-size: 100% 67px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__map::before {
    height: 108px;
    background-size: 100% 108px;
  }
}

.page-footer__map iframe {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  border: 0;
}

@media (min-width: @tablet-width) {
  .page-footer__map iframe {
    height: 373px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__map iframe {
    height: 500px;
  }
}

.page-footer__information {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 36px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__information {
    margin-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
