

.page-header {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 320px;
  margin: 0 auto;
  background-color: #161e26;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-header {
    position: relative;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 660px;
    margin: 0 auto;
    background-color: #161e26;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 1200px;
    margin: 0 auto;
    background-color: #161e26;
    text-align: center;
  }
}

.page-header__wrapper {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 320px;
  background-color: #161e26;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    position: relative;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 660px;
    margin: 0 auto;
    background-color: #161e26;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    position: relative;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 1200px;
    margin: 0 auto;
    background-color: #161e26;
    text-align: center;
  }
}

.page-header__wrapp-iphone {
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-top: 110px;
}

.page-header__wrapper {
  position: relative;
  width: 280px;
  min-height: 135px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 37px;
  color: #ffffff;


@media (min-width: @tablet-width) {
  .page-header__wrapper {
    position: relative;
    width: 620px;
    min-height: 247px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 83px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 940px;
    min-height: 394px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.page-header__logo-link {

}

.page-header__logo-img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.page-header__logo-img {
  width: 75px;
  height: 23px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-header__logo-img {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-img {
    width: 147px;
    height: 40px;
  }
}

.page-header__title-photo {
  position: relative;
  width: 280px;
  min-height: 135px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 37px;
}

@media (min-width: @tablet-width) {
  .page-header__title-photo {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__title-photo {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
  }
}

.page-header__title-competition {
  position: relative;
  width: 280px;
  min-height: 135px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 37px;
}

@media (min-width: @tablet-width) {
  .page-header__title-competition {
    position: relative;
    width: 620px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 83px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__title-competition {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    margin-top: 76px;
  }
}

.page-header__iphone {
  min-height: 286px;
  color: #ffffff;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: @tablet-width) {
  .page-header__iphone {
    min-height: 543px;
    color: #ffffff;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__iphone {
    min-height: 644px;
    color: #ffffff;
    background-image: url("../img/iphone-hand-desktop@1x");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }
}
