.progress-trip {
  box-sizing: border-box;
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .progress-trip {
    min-height: 162px;
    margin-bottom: 61px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    background-color: #ffffff;
    order: 3;
  }
}

.progress-trip__list {
  display: flex;
  width: 280px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 41px;
  transform: translateX(90px);
}

@media (min-width: @tablet-width) {
  .progress-trip__list {
    margin-top: 52px;
  }
}

@media (min-width: @desktop-width) {
  .progress-trip__list {
    width: 870px;
    margin-left: 60px;
    transform: translateX(0);
  }
}

.progress-trip__item {
  width: 280px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  list-style: none;
  margin-bottom: 65px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .progress-trip__item {
    width: 230px;
    margin-bottom: 65px;
    margin-left: 60px;
  }
}

.progress-trip__list label {
  position: relative;
}

.progress-trip__list input[type="checkbox"]:checked + label::after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  content: "";
  top: 5px;
  left: -47px;
  width: 21px;
  height: 10px;
  border-left: solid 2px #d22856;
  border-bottom: solid 2px #d22856;
  transform: rotate(-45deg);
  opacity: 1;
}

.progress-trip__list input[type="checkbox"] + label::after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  content: "";
  top: 5px;
  left: -47px;
  width: 21px;
  height: 10px;
  border-left: solid 2px #d22856;
  border-bottom: solid 2px #d22856;
  transform: rotate(-45deg);
  opacity: 0;
}
