

.progress-title {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 41px;
  color: #d22856;
}

@media (min-width: @desktop-width) {
  .progress-title {
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
  }
}
