

.progress-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 41px;
  color: #d22856;
}

.progress-title--desktop {
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}
