.purposes-application {
  position: relative;
  color: #283645;
  text-align: center;
}

.purposes-application__title {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0 auto;
  padding-top: 47px;
}

@media (min-width: @tablet-width) {
  .purposes-application__title {
    font-size: 40px;
    line-height: 48px;
    margin: 0;
    margin-top: 65px;
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__title {
    font-size: 50px;
    line-height: 60px;
    margin-top: 78px;
  }
}

.purposes-application__subtitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 33px;
}

@media (min-width: @tablet-width) {
  .purposes-application__subtitle {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 48px;
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__subtitle {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    margin-bottom: 80px;
  }
}

.purposes-application__wrapper {
  position: relative;
  width: 100%;
  min-height: 825px;
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .purposes-application__wrapper {
    min-height: 484px;
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__wrapper {
    min-height: 1037px;
  }
}

.purposes-application__wrapper::before {
  content: "";
  display: block;
  height: 65px;
  background-image: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);
}

@media (min-width: @tablet-width) {
  .purposes-application__wrapper::before {
    height: 100px;
  }
}

.purposes-application__list {
  position: absolute;
  width: 280px;
  top: 85px;
  left: calc(50% - 140px);
  bottom: 0;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .purposes-application__list {
    width: 310px;
    top: 75px;
    left: calc(50% - 310px);
    text-align: left;
    padding-left: 310px;
    padding-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 890px;
    top: -15px;
    left: 50%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    transform: translateX(-50%);
  }
}

.purposes-application__list::after {
  position: absolute;
  content: "";
  left: calc(50% - 78px);
  bottom: 0;
  width: 156px;
  height: 278px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .purposes-application__list::after {
    background-image: url("img/iphone-screen-mobile@2x.png");
  }
}

@media (min-width: @tablet-width) {
  .purposes-application__list::after {
    display: inline-block;
    left: 0;
    width: 264px;
    height: 480px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    padding-right: 44px;
  }

    @media  (min-width: @tablet-width) and (min-resolution: 144dpi),
            (min-width: @tablet-width) and (min-resolution: 1.5dppx) {
    .purposes-application__list::after {
      background-image: url("img/iphone-screen-3-tablet@2x.png");
    }
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__list::after {
    display: none;
  }
}

.purposes-application__item {
  position: relative;
  width: 280px;
  margin: 0;
  margin-bottom: 40px;
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .purposes-application__item {
    width: 310px;
    margin-bottom: 35px;
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__item {
    width: 263px;
    margin-top: 300px;
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__item::before {
    position: absolute;
    content: "";
    top: -300px;
    left: 40px;
    width: 185px;
    height: 300px;
    z-index: -3;
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__item::before {
    background-repeat: no-repeat;
    background-position: -50px 0;
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__item--mood::before {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
  }

    @media  (min-width: @desktop-width) and (min-resolution: 144dpi),
            (min-width: @desktop-width) and (min-resolution: 1.5dppx) {
    .purposes-application__item--mood::before {
      background-image: url("img/iphone-screen-1-desktop@2x.png");
    }
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__item--change-world::before {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
  }

    @media  (min-width: @desktop-width) and (min-resolution: 144dpi),
            (min-width: @desktop-width) and (min-resolution: 1.5dppx) {
    .purposes-application__item--change-world::before {
      background-image: url("img/iphone-screen-2-desktop@2x.png");
    }
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__item--new-friends::before {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
  }

    @media  (min-width: @desktop-width) and (min-resolution: 144dpi),
            (min-width: @desktop-width) and (min-resolution: 1.5dppx) {
    .purposes-application__item--new-friends::before {
      background-image: url("img/iphone-screen-3-desktop@2x.png");
    }
  }
}

.purposes-application__item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

@media (min-width: @desktop-width) {
  .purposes-application__item-title {
    width: 225px;
    font-size: 30px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 60px;
  }
}

.purposes-application__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  margin: 0;
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .purposes-application__description {
    margin-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__description {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .purposes-application__description::after {
    position: absolute;
    content: "";
    top: 0;
    left: 12px;
    width: 240px;
    height: 50px;
    border-radius: 25%/10px;
    background-color: #f2f2f2;
    box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}
