

.purposes-application {
  color: #283645;
  text-align: center;
}

.purposes-application__title {
  font-family: "Open Sans";
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  margin: 0;
  margin-top: 78px;
  margin-bottom: 80px;
}

.purposes-application__title--tablet {
  font-family: inherit;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  margin: 0;
  margin-top: 65px;
  margin-bottom: 48px;
}

..purposes-application__title--mobile {
  width: 280px;
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 40px;
}

.purposes-application__subtitle {

}

.purposes-application__wrapper {
  position: relative;
  width: 100%;
  min-height: 1037px;
  background-color: #f2f2f2;
}

.purposes-application__wrapper--tablet {
  min-height: 484px;
}

.purposes-application__wrapper--mobile {
  min-height: 825px;
}

.purposes-application__wrapper::before {
  content: "";
  display: block;
  height: 100px;
  background-image: linear-gradient(to right bottom, #fff 50%, #f2f2f2 50%);
}

.purposes-application__wrapper--mobile::before {
  content: "";
  display: block;
  height: 65px;
  background-image: linear-gradient(to right bottom, #fff 50%, #f2f2f2 50%);
}

.purposes-application__list {
  position: absolute;
  width: 960px;
  top: -15px;
  left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateX(-50%);
}

.purposes-application__list--tablet {
  position: absolute;
  width: 310px;
  bottom: 0;
  left: calc(50% - 310px);
  text-align: left;
  padding-left: 310px;
  padding-right: 20px;
  list-style: none;
  margin: 0;
  top: 75px;
}

.purposes-application__item--mood {

}

.purposes-application__item--change-world {

}

.purposes-application__item--new-friends {

}

.purposes-application__item-title {

}

.purposes-application__description {

}
