

.reviews {
  position: relative;
  width: 940px;
  padding-bottom: 45px;
  margin: 0 auto;
  overflow: hidden;
}

.reviews__wrapper {

}

.reviews__list {

}

.reviews__list::before {
  display: block;
  content: url("../img/quotes.svg");
  opacity: 0.1;
  width: 80px;
  height: 63px;
  margin: 0 auto;
  margin-top: 73px;
  margin-bottom: 57px;
}

.reviews__item {

}

.reviews__text {

}

.reviews__author-name {

}

.reviews__prev {

}

.reviews__next {

}
