.site-list {
  display: block;
  width: 320px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
  padding: 0;
  border-top: 1px solid #485461;
  background-color: #283645;
}

@media (min-width: @tablet-width) {
  .site-list {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    list-style: none;
    border: none;
    background-color: transparent;
    padding-top: 48px;
    margin: 0 auto;
    margin-left: calc(50% - 250px);
  }
}

.site-list__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #020202;
}

@media (min-width: @tablet-width) {
  .site-list__item {

  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    display: inline;
    border: none;
  }
}

.site-list__item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: @desktop-width) {
  .site-list__item a {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item--active {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
  }
}

.site-list a[href] {
  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: @desktop-width) {
  .site-list a[href] {
    &:hover {
      color: #d22856;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
