

.slider {
  position: absolute;
  width: 940px;
  top: 212px;
}

.slider__list {

}

.slider__item {
  width: 23px;
  height: 41px;
  opacity: 0.3;
  font-size: 0;
}

.slider__toggles {

}

.slider__toggle {

}
