@media (min-width: @desktop-width) {
  .slider {
    position: relative;
    width: 940px;
  }
}

.slider__toggles {
  position: absolute;
  left: calc(50% - 50px);
  bottom: -39px;
}

@media (min-width: @tablet-width) {
  .slider__toggles {
    bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .slider__toggles {
    position: absolute;
    top: 212px;
    left: 0;
  }
}

@media (min-width: @tablet-width) {
  .slider__item {
    display: none;
  }
}

.slider__toggles label {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  background-color: #bec2c7;
  margin-left: 18px;
  text-align: center;
  font-size: 0;
}

.slider__toggles label::after {
  position: absolute;
  display: inline-block;
  content: "";
  bottom: 0;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  background-color: #bec2c7;
}

@media (min-width: @tablet-width) {
  .slider__toggles label {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    background-color: #bec2c7;
    margin-left: 18px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .slider__toggles label::after {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: 0;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    background-color: #bec2c7;
  }
}

@media (min-width: @desktop-width) {
  .slider__toggles label {
    display: none;
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .slider__toggles label::after {
    display: none;
  }
}

.reviews__item1:checked ~ .reviews__list .slider__item--order1 {
  display: block;
}

.reviews__item2:checked ~ .reviews__list .slider__item--order2 {
  display: block;
}

.reviews__item3:checked ~ .reviews__list .slider__item--order3 {
  display: block;
}

.reviews__item1:checked ~ .slider__toggles .slider__toggle-item--item1::after,
.reviews__item2:checked ~ .slider__toggles .slider__toggle-item--item2::after,
.reviews__item3:checked ~ .slider__toggles .slider__toggle-item--item3::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -2px;
  width: 6px;
  height: 6px;
  border: 2px solid #283645;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__item--order1 {
  display: none;
}

.slider__item--order2 {
  display: none;
}

.slider__item--order3 {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews__item1:checked ~ .reviews__list .slider__item--order1,
  .reviews__item2:checked ~ .reviews__list .slider__item--order2,
  .reviews__item3:checked ~ .reviews__list .slider__item--order3 {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .slider__toggles {
    width: 940px;
  }
}

@media (min-width: @desktop-width) {
  .slider__toggles label {
    width: 23px;
    height: 41px;
    font-size: 0;
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .reviews__item1:checked ~ .slider__toggles label:nth-of-type(2),
  .reviews__item2:checked ~ .slider__toggles label:nth-of-type(3),
  .reviews__item3:checked ~ .slider__toggles label:nth-of-type(1) {
    display: block;
    background-image: url("../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    float: right;
    opacity: 0.4;
  }
}

@media (min-width: @desktop-width) {
  .reviews__item1:checked ~ .slider__toggles label:nth-of-type(3),
  .reviews__item2:checked ~ .slider__toggles label:nth-of-type(1),
  .reviews__item3:checked ~ .slider__toggles label:nth-of-type(2) {
    display: block;
    background-image: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    float: left;
    opacity: 0.4;
  }
}

.slider__item {
  &:hover {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }
}

@media (min-width: @desktop-width) {
  .reviews__item1:checked ~ .slider__toggles label {
    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.25;
    }
  }
}
