

.slider {
  position: absolute;
  top: 295px;
  left: calc(50% - 50px);
}

@media (min-width: @desktop-width) {
  .slider {
    width: 940px;
    position: absolute;
    top: 212px;
  }
}

.slider__list {

}

.slider__item {

}

.slider label {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  background-color: #bec2c7;
  margin-left: 18px;
  text-align: center;
  font-size: 0;
}

.slider label::after {
  position: absolute;
  display: inline-block;
  content: "";
  bottom: 0;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  background-color: #bec2c7;
}

@media (min-width: @tablet-width) {
.slider label {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  background-color: #bec2c7;
  margin-left: 18px;
  text-align: center;
  }
}

@media (min-width: @tablet-width) {
.slider label::after {
  position: absolute;
  display: inline-block;
  content: "";
  bottom: 0;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  background-color: #bec2c7;
  }
}

#review-item-1:checked ~ .reviews__list .reviews__item-1,
#review-item-2:checked ~ .reviews__list .reviews__item-2,
#review-item-3:checked ~ .reviews__list .reviews__item-3 {
  display: block;
}

#review-item-1:checked ~ .slider .slider__item--1::after,
#review-item-2:checked ~ .slider .slider__item--2::after,
#review-item-3:checked ~ .slider .slider__item--3::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -2px;
  width: 6px;
  height: 6px;
  background-color: inherit;
  border: 2px solid #283645;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  #review-item-1:checked ~ .reviews__list .reviews__item-1,
  #review-item-2:checked ~ .reviews__list .reviews__item-2,
  #review-item-3:checked ~ .reviews__list .reviews__item-3 {
  display: block;
  }
}

@media (min-width: @tablet-width) {
  #review-item-1:checked ~ .slider .slider__item--1::after,
  #review-item-2:checked ~ .slider .slider__item--2::after,
  #review-item-3:checked ~ .slider .slider__item--3::after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: -2px;
    width: 6px;
    height: 6px;
    background-color: inherit;
    border: 2px solid #283645;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media (min-width: @desktop-width) {
  .slider label {
    width: 23px;
    height: 41px;
    font-size: 0;
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  #eview-item-1:checked ~ .slider label:nth-child(2),
  #eview-item-2:checked ~ .slider label:nth-child(3),
  #eview-item-3:checked ~ .slider label:nth-child(1) {
    background-image: url(../img/icon-review-arrow-right.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    float: right;
  }
}

@media (min-width: @desktop-width) {
  #eview-item-1:checked ~ .slider label:nth-child(3),
  #eview-item-2:checked ~ .slider label:nth-child(1),
  #eview-item-3:checked ~ .slider label:nth-child(2) {
    background-image: url(../img/icon-review-arrow-left.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    float: left;
  }
}

.slider__toggles {

}

.slider__toggle {

}
