

.social {
  width: 280px;
}

@media (min-width: @tablet-width) {
  .social {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .social {
    width: 940px;
  }
}

.social__logo-link {
  margin-bottom: 40px;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .social__logo-link {
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  }
}

@media (min-width: @desktop-width) {
  .social__logo-link {
  margin-bottom: 40px;
  background-color: transparent;
  cursor: pointer;
  }
}

.social__list {
  width: 177px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 177px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .social__list {
    width: 177px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}

.social__item {
  display: block;
  list-style-type: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.social__link--twitter {

}

.social__link--facebook {

}

.social__link--youtube {

}

.social__link svg {
  padding-top: 15px;
  padding-bottom: 14px;
}

.social__developed {
  display: flex;
  flex-direction: center;
  align-items: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #283645;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .social__developed {
    display: flex;
    flex-direction: center;
    align-items: center;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #283645;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .social__developed {
    display: flex;
    flex-direction: center;
    align-items: center;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #283645;
    margin: 0;
  }
}

.social__developed-link {
  margin-left: 15px;
  margin-top: 10px;
}

@media (min-width: @tablet-width) {
  .social__developed-link {
    margin-left: 15px;
    margin-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .social__developed-link {
    margin-left: 28px;
    margin-top: 10px;
  }
}
