

.subtitle {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  color: #283645;
}

.subtitle--mobile {
  font-family: inherit;
  font-size: 14px;
  line-height: 30px;
}
