

.subtitle {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #283645;
}

@media (min-width: @desktop-width) {
  .subtitle {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: @tablet-width) {
  .subtitle {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
  }
}
