

.tables-slider {
  position: absolute;
  top: 425px;
  left: calc(50% - 50px);
}

@media (min-width: @desktop-width) {
  .tables-slider {

  }
}

.tables-slider label {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  background-color: #bec2c7;
  margin-left: 18px;
  text-align: center;
}

.tables-slider label::after {
  position: absolute;
  display: inline-block;
  content: "";
  bottom: 0;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  background-color: #bec2c7;
}

@media (min-width: @tablet-width) {
  .tables-slider label {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    background-color: #bec2c7;
    margin-left: 18px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .tables-slider label::after {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: 0;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    background-color: #bec2c7;
  }
}

#table-item1:checked ~ .tariffs__table .tariffs__table-item-1,
#table-item2:checked ~ .tariffs__table .tariffs__table-item-2,
#table-item3:checked ~ .tariffs__table .tariffs__table-item-3 {
  display: block;
}

#table-item1:checked ~ .tables-slider .tables-slider__item--1::after,
#table-item2:checked ~ .tables-slider .tables-slider__item--2::after,
#table-item3:checked ~ .tables-slider .tables-slider__item--3::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -2px;
  width: 6px;
  height: 6px;
  background-color: inherit;
  border: 2px solid #283645;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  #table-item1:checked ~ .tariffs__table .tariffs__table-item-1,
  #table-item2:checked ~ .tariffs__table .tariffs__table-item-2,
  #table-item3:checked ~ .tariffs__table .tariffs__table-item-3 {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  #table-item1:checked ~ .tables-slider .tables-slider__item--1::after,
  #table-item2:checked ~ .tables-slider .tables-slider__item--2::after,
  #table-item3:checked ~ .tables-slider .tables-slider__item--3::after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: -2px;
    width: 6px;
    height: 6px;
    background-color: inherit;
    border: 2px solid #283645;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
}
