




.tariffs-table table {
  border: 0;
}

.tariffs-table th {
  border: 0;
}

.tariffs-table__list {
  border: 0;
}

.tariffs-table__item-1,
.tariffs-table__item-2,
.tariffs-table__item-3 {
  border: 0;
}

.tariffs-table__item-1 {
  display: none;
}

.tariffs-table__item-2 {
  display: none;
}

.tariffs-table__item-3 {
  display: none;
}
