.tariffs {
  position: relative;
  display: block;
  background-color: #f2f2f2;
  min-height: 470px;
  margin-top: 45px;
  padding-bottom: 100px;
  margin-bottom: 48px;
}

@media (min-width: @tablet-width) {
  .tariffs {
    min-height: 375px;
    margin-top: 30px;
  }
}

@media (min-width: @desktop-width) {
  .tariffs {
    min-height: 524px;
  }
}

.tariffs::before {
  content: "";
  display: block;
  height: 100px;
  background-image: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);
  margin-top: 55px;
}

@media (min-width: @tablet-width) {
  .tariffs::before {
    margin-top: 30px;
  }
}

.tariffs__table {
  display: block;
  width: calc(300% - 100px);
  transform: translateX(40% - 81px);
  margin-top: 65px;
  margin-bottom: 40px;
  background-color: #ffffff;
  border: none;
  padding: 0;
  border-collapse: collapse;
}

@media (min-width: @tablet-width) {
  .tariffs__table {
    width: 620px;
    transform: translateX(0);
    margin: auto;
    margin-top: 35px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .tariffs__table {
    width: 936px;
    margin-top: 72px;
  }
}

.tariffs__table td {
  position: relative;
}

.tariffs label {
  font-size: 0;
}

.tariffs__table table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 0;
}

.tariffs__header-title {
  width: 276px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #283645;
  text-align: center;
  border-bottom: 2px solid #283645;
  border-left: 2px solid #283645;
  border-top: none;
  padding-top: 20px;
}

@media (min-width: @tablet-width) {
  .tariffs__header-title {
    width: 153px;
    border: 2px solid #e5e5e5;
    border-bottom: 2px solid #283645;
    border-left: 2px solid #283645;
    border-top: none;
    padding-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .tariffs__header-title {
    width: 232px;
    font-size: 18px;
    line-height: 30px;
    border: none;
    border-bottom: 2px solid #283645;
    padding-top: 23px;
  }
}

@media (min-width: @tablet-width) {
  .tariffs__header-title--title1 {
    background-color: #f2f2f2;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
}

@media (min-width: @desktop-width) {
  .tariffs__header-title--title1 {
    background-color: #f2f2f2;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
}

.tariffs__header-title--hit {
  position: relative;
  overflow: hidden;
}

.tariffs__header-title--hit::before {
  display: inline-block;
  position: absolute;
  content: "Хит";
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856;
  height: 30px;
  width: 120px;
  transform: rotate(-45deg);
  top: 5px;
  left: -35px;
  vertical-align: middle;
}

@media (min-width: @desktop-width) {
  .tariffs__header-title--hit::before {
    top: 10px;
    left: -30px;
  }
}

.tariffs__name {
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .tariffs__name {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
  }
}

@media (min-width: @desktop-width) {
  .tariffs__name {
    width: 232px;
    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 22px;
    padding-bottom: 18px;
    vertical-align: middle;
  }
}

.tariffs__header td {
  width: 276px;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 15px;
  border: 2px solid #e5e5e5;
  border-collapse: collapse;
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .tariffs__header td {
    width: 153px;
    padding-top: 15px;
    padding-bottom: 13px;
  }
}

@media (min-width: @desktop-width) {
  .tariffs__header td {
    width: 232px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 22px;
    padding-bottom: 18px;
    vertical-align: middle;
  }
}

.tariffs__header span {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  padding-bottom: 16px;
}

@media (min-width: @desktop-width) {
  .tariffs__header span {
    padding-bottom: 16px;
  }
}

.tariffs__item {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283645;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .tariffs__item {
    font-size: 0;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .tariffs__item {
    width: 232px;
    font-size: 0;
    padding: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 22px;
    padding-bottom: 18px;
    vertical-align: middle;
    border: 2px solid #e5e5e5;
  }
}

.tariffs__item::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  vertical-align: middle;
}


@media (min-width: @tablet-width) {
  .tariffs__item::after {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.tariffs__item--yes::after {
  display: inline-block;
  content: url("../img/icon-yes-green.svg");
  width: 31px;
  height: 21px;
}

.tariffs__item--no::after {
  display: inline-block;
  content: url("../img/icon-no-red.svg");
  width: 27px;
  height: 27px;
}

.tariffs__header-title:nth-of-type(2) {
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #283645;
  border-left: 2px solid #e5e5e5;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tariffs__header-title:nth-of-type(3) {
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #283645;
}

.tariffs__header-title:last-of-type {
  border-top-right-radius: 3px;
}

@media (min-width: @tablet-width) {
  .tariffs__header-title:nth-of-type(2) {
    border-left: 2px solid #283645;
  }
}
