

.trip-title {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 41px;
  border: none;
}

@media (min-width: @tablet-width) {
  .trip-title {
    width: 400px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .trip-title {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
  }
}

