

.trip-title {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.trip-title--mobile {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 41px;
}
